strict-peer-dependencies=true
prefer-workspace-packages=true
save-workspace-protocol=true
auto-install-peers=true
engine-strict=true
shared-workspace-lockfile=true
public-hoist-pattern[]= react-native, react-native-*, expo, @react-native/*, @expo/*