strict-peer-dependencies=true
prefer-workspace-packages=true
save-workspace-protocol=true
auto-install-peers=true
engine-strict=true
shared-workspace-lockfile=true
public-hoist-pattern[]=react-native
public-hoist-pattern[]=react-native-*
public-hoist-pattern[]=expo
public-hoist-pattern[]=@react-native/*
public-hoist-pattern[]=@expo/*
public-hoist-pattern[]=metro
public-hoist-pattern[]=metro-*
public-hoist-pattern[]=@react-native/metro-config